# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Python
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Env (por si en el futuro se agrega backend)
.env
.env.local
